#popup {
  
  position: absolute;
  top: 15px;
  background-color: #551263
}

#EditProductForm{
    padding: 0px;
    background-color: aliceblue;
    margin: 0px;
}

.closePopup{
    right: 0px;
    font-weight: bolder;
    font-size: 25px;
    position: absolute;
    top: -5px;
}