@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
    box-sizing: border-box;
  }
  

div.search input[type=text] {
    margin-left: 400px;
    float: left;
}

div.search button {
    float: left;
    padding-top: 12px;
    padding-bottom: 16px;
    margin-top: 0px;
    border-radius: 0px;
}